.product-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3d3d3d;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 430px;
  margin: 0 auto;
}

.product-image {
  position: relative;
  top: 70px;
  left: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image img {
  max-width: 120%;
  height: auto;
  border-radius: 10px;
}

.product-info {
  color: white;
  text-align: right;
  padding-right: 30px;
}

.product-info h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.product-info h3 {
  font-weight: 700;
  font-size: 5rem;
  margin: 5px 0;
}

.product-info h1 {
  font-size: 5.5rem;
  margin: 0;
  font-weight: bold;
}
@media (max-width: 1500px) {
  .product-image img {
    max-width: 110%;
  }

  .product-info h2 {
    font-size: 2.5rem;
  }

  .product-info h3 {
    font-size: 4rem;
  }

  .product-info h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1200px) {
  .product-image img {
    max-width: 100%;
  }

  .product-info h2 {
    font-size: 2rem;
  }

  .product-info h3 {
    font-size: 3.5rem;
  }

  .product-info h1 {
    font-size: 4rem;
  }
}

@media (max-width: 1024px) {
  .product-container {
    flex-direction: column;
    height: auto;
  }

  .product-image {
    top: 30px;
  }

  .product-info {
    text-align: center;
    padding-right: 0;
  }

  .product-info h2 {
    font-size: 1.8rem;
  }

  .product-info h3 {
    font-size: 3rem;
  }

  .product-info h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .product-container {
    height: auto;
    padding: 15px;
  }

  .product-info h2 {
    font-size: 1.6rem;
  }

  .product-info h3 {
    font-size: 2.5rem;
  }

  .product-info h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .product-info h2 {
    font-size: 1.4rem;
  }

  .product-info h3 {
    font-size: 2rem;
  }

  .product-info h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 350px) {
  .product-info h2 {
    font-size: 1.2rem;
  }

  .product-info h3 {
    font-size: 1.8rem;
  }

  .product-info h1 {
    font-size: 2rem;
  }
  .product-image {
    width: 120%;
    left: 0;
    z-index: 120;
  }
}
