.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 180px;
  &_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
  &_right {
    width: 50%;
  }
  &_title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -1.5px;
    color: black;
    width: 100%;
  }
  &_text {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
  }
  &_img {
    border-radius: 20px;
    width: 100%;
  }
}

/* Max width 1500px */
@media (max-width: 1500px) {
  .about {
    gap: 150px;
    &_left,
    &_right {
      width: 48%;
    }

    &_title {
      font-size: 36px;
    }
  }
}

/* Max width 1000px */
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 100px;

    &_left,
    &_right {
      width: 90%;
    }

    &_title {
      font-size: 32px;
    }
  }
}

/* Max width 768px */
@media (max-width: 768px) {
  .about {
    gap: 50px;

    &_left,
    &_right {
      width: 100%;
    }

    &_title {
      font-size: 28px;
    }

    &_text {
      font-size: 14px;
    }
  }
}

/* Max width 400px */
@media (max-width: 400px) {
  .about {
    gap: 30px;

    &_left,
    &_right {
      width: 100%;
    }

    &_title {
      font-size: 24px;
    }

    &_text {
      font-size: 13px;
    }
    &_right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_img {
      width: 100%;
      height: auto;
    }
  }
}

/* Max width 300px */
@media (max-width: 300px) {
  .about {
    gap: 20px;

    &_left,
    &_right {
      width: 100%;
    }

    &_title {
      font-size: 20px;
    }

    &_text {
      font-size: 12px;
    }

    &_img {
      width: 85%;
      height: auto;
    }
  }
}
